<div class="wrapper">
  <div class="input-data-block">
    <h1>
      Вхідні дані
      <mat-icon
        style="cursor:pointer;"
        (click)="openDialog()"
        matTooltip="Розділ для розрахунку запасу міцності труб НКТ. Для отримання більш детальної інформації натисніть кнопку"
      >info</mat-icon>
    </h1>

    <div class="input">
      <mat-form-field>
        <input
          matInput
          placeholder="Мінімальний тиск"
          type="number"
          [(ngModel)]="pressureStart"
          [min]="1"
          matTooltip="Введіть мінімальний тиск в МПа"
        >
      </mat-form-field>
      <span class="units">МПа</span>
    </div>
    <div class="input">
      <mat-form-field>
        <input
          matInput
          placeholder="Максимальний тиск тиск"
          type="number"
          [(ngModel)]="pressureEnd"
          [min]="1"
          matTooltip="Введіть максимальний тиск в МПа"
        >
      </mat-form-field>
      <span class="units">МПа</span>
    </div>
    <div class="input">
      <mat-form-field>
        <input
          matInput
          placeholder="Зовнішній діаметр"
          type="number"
          [(ngModel)]="De"
          [min]="1"
          matTooltip="Введіть зовнішній діаметр в міліметрах"
        >
      </mat-form-field>
      <span class="units">мм</span>
    </div>
    <div class="input">
      <mat-form-field>
        <input
          matInput
          placeholder="Товщина стінки"
          type="number"  in MPa
          [(ngModel)]="pipeThickness"
          [min]="1"
          matTooltip="Введіть товщину стінки труби"
        >
      </mat-form-field>
      <span class="units">мм</span>
    </div>

    <button mat-button [disabled]="!pressureStart || !pressureEnd || !De || !pipeThickness" (click)="strengthPipeCalculation();">Розрахувати</button>
  </div>
  <div>
    <div style="display: block;">
      <canvas
        width="500"
        height="500"
        [datasets]="[lineChartData]"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="service.lineChartColors"
        [legend]="service.lineChartLegend"
        [chartType]="service.lineChartType"
        [plugins]="service.lineChartPlugins"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
        baseChart
      ></canvas>
    </div>
  </div>

</div>
